body {
    background-color: skyblue;
}

#digital-clock {
    text-align: center;
    font-size: 19vw;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.red-dot {
    color: red;
}
.hide {
	display: none;
}